* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #E5E5E5
}
.header-section-wrapper{
  background-color: white;
  padding-bottom: 50px;
  border: 1px solid white;
  border-radius: 0px 0px 0px 50px;
  -webkit-border-radius: 0px 0px 0px 50px;
  -moz-border-radius: 0px 0px 0px 50px;
  -ms-border-radius: 0px 0px 0px 50px;
  -o-border-radius: 0px 0px 0px 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header-inner {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
}

.heoader-log {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.header-mobile-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
}

.intro-section {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 114px 24px;
  background-image: url("../assets/header-shapes\ mobile.png");
}

.intro-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.intro-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.let-connect-link { text-decoration: none; }
.let-connect-link:hover { color: aquamarine; }

.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons img { width: 15px; }




/* finishing up mobile portfolio */

.main-content{
  display: grid;
  gap: 100px;
  margin: 114px 0PX
}

.card-work{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin: auto;
  font-family: 'Poppins';
font-style: normal;
}

.card-work-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-work-content h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.card-work-list{
  display: flex;
  gap: 16px;
  list-style-type: none;
  align-items: baseline
}
.card-work-list li:nth-child(3), .card-work-list li:nth-child(5){
  
  color: #7A869A;
}

.dot-list{
  width: 8px;
  height: 8px;
  background-color: #C1C7D0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card-work-skills{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 16px;
}

.card-work-skills li{
  background-color: #EBEBFF;
  padding: 4px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card-work-btn{
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 50%;
  padding: 12px;
  color: #396DF2;
  border: 1px solid #396DF2;
  background: rgb(225, 225, 225, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about-myself, .last-section{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 40px;
  gap: 16px;
  padding-top: 114px;
  font-family: 'Poppins';
font-style: normal;
}

.about-myself > h1{
  font-weight: 700;
  font-size: 40px;
}

.lets-connect{
  font-weight: 500;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.language{
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Poppins';
  font-style: normal;
}

.skills{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.js, .css, .html{
  display: flex;
  gap: 16px;
  align-items: center;
  background: rgba(247, 247, 249, 1);
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.skills img{
  margin: 9px 0px 9px 12px;
}

.lang-text span{
  font-size: 20px;
  font-weight: 500;
}

.lang-text{
  display: flex;
  justify-content: space-between;
  padding-right: 26px;
}
.lang-text i{
  color: rgba(172, 183, 195, 1);
  font-weight: 100;
  
}
.lang-text.bordered{
  border-top: 1px solid #DFE1E6;
  border-bottom: 1px solid #DFE1E6;
  padding: 23px 0px;
  margin-bottom: 176px;
}
.lang-text.bordered i{
  padding-right: 26px;
}

.last-section{
  margin-top: -90px;
  background: rgba(96, 112, 255, 1);
  background-image: url("../assets/contact\ form\ shapes-mobile.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  gap: 20px;
  border-radius: 80px 0px 0px 0px;
  -webkit-border-radius: 80px 0px 0px 0px;
  -moz-border-radius: 80px 0px 0px 0px;
  -ms-border-radius: 80px 0px 0px 0px;
  -o-border-radius: 80px 0px 0px 0px;
}

.last-section input, .last-section textarea{
  width: 100%;
  padding: 15px 16px;
  color: black;
  border: 1px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.last-section h1, p{
  font-family: 'Poppins';
  font-style: normal;
  color: white;
  text-align: center;
}
.last-section h1{
  font-weight: 700;
  font-size: 40px;

}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-btn{
  text-align: center;
  width: 50%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 16px;
  color: #6070FF;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-line hr{
  width: 125px;
  border: 5px solid red;
  margin: auto;
  m
}